a{
    text-decoration: none;
    color: black;
}

.ques{
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.quesName{
    font-size: 28px;
}

#done-btn{
    padding: 10px;
    background-color: green;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.Done{
    text-decoration: line-through;
    color: green;
}

.stats{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
